.runspk-header {
  padding: 15px 0;
  background-color: #fff;
}
.runspk-logo--anchor {
  img {
    max-width: 75px;
    @include media-breakpoint-up(sm) {
      max-width: 100px;
    }
  }
}
